@tailwind base;
@tailwind components;
@tailwind utilities;

#you {
	justify-content: flex-end;
	margin-right: 0.5rem;
}

#you .message {
	background-color: hsl(220, 76%, 54%);
}

#you .user {
	text-align: right;
	margin-right: 0.5rem;
}
